html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 1166px;
  width: 100%; */
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* padding-inline: 15px;
  margin-inline: auto; */
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;

  .accent {
    color: #fd9222;
  }
}

/*------------- header-------------- */

.header {
  padding-block: 28px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 100px;
}

/* .header-logo span {
  font-style: italic;
} */

.header .container {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-link:hover,
.header-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

/* .header-link:is(:hover, :focus) {
  color: #fd9222;
}

/* .header-link:focus {
  color: #fd9222;
} */

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}

/* .header-soc-icon {
  fill: #111;
} */

/*------------- hero-------------- */

.hero {
  background-color: #1e1823;
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;

  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-wrapper {
  padding: 381px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  min-width: 146px;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  /* transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1s; */
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 1s,
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 1s;
  /* transform: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 1s; */
}

.hero-button:hover,
.hero-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
  transition:
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 1s,
    color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 1s;
}

.hero-button-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 183px;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/*------------- features-------------- */

.features {
  background-color: #1e1823;
  padding-block: 50px;
}

.features-list {
  display: flex;
  gap: 70px;
  /* padding-left: 36px;
  padding-right: 36px; */
  padding-inline: 36px;
}

.features-item {
  width: calc((100% - 70px * 2) / 3);
  position: relative;
}

.features-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

/* .features-item:last-child::after {
  display: none;
} */

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*------------- taste-------------- */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

/* .taste-highlight {
  color: #fd9222;
} */

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 40px 19px; */
  column-gap: 19px;
  row-gap: 40px;
}

.taste-item {
  /* padding: 28px 32px; */
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: calc((100% - 19px * 3) / 4);
}

.taste-item-wrapper {
  position: relative;
  overflow: hidden;
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding: 36px 32px 28px 32px;
}

.taste-item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
  background-color: #fd9222;
  border-radius: 15px;
  padding: 15px;
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.taste-item:hover .taste-item-text {
  transform: translateY(0);
}

/*------------- made-------------- */

.made {
  padding-top: 50px;
  padding-bottom: 50px;
}

.made-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.made-content {
  border-radius: 15px;
  background-color: #fff;
  padding: 32px;
}

.made-title {
  margin-bottom: 50px;
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  margin-bottom: 28px;
}

.made-list {
}

.made-item {
  padding-left: 16px;
  position: relative;
}

.made-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 12px;
  border: 1px solid #eceded;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*------------- love-------------- */

.love {
  padding-top: 50px;
  padding-bottom: 100px;
}

.love-title {
  margin-bottom: 91px;
}

.love-list {
  margin-bottom: 49px;
  display: flex;
  gap: 28px;
}

.love-item {
  width: calc((100% - 28px * 2) / 3);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
  position: relative;
}

.love-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
}

.love-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.love-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.love-button {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  display: block;
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

/*------------- footer-------------- */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #ffffff;
  max-width: 300px;

  .accent {
    color: #fd9222;
  }
}

.footer-contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-contacts-list {
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  width: 313px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 14px 24px;
  outline: transparent;
}

.footer-form-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.footer-form-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  border: none;
}

.footer-form-input:not(:focus):not(:placeholder-shown):valid {
  border-color: #31d0aa;
}

.footer-form-input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ee8352;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 40px;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-close-button {
  position: absolute;
  top: 26px;
  right: 26px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.modal-title {
  text-align: left;
  max-width: 300px;
  margin-bottom: 40px;
}

.modal-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.35);
  border-radius: 13px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  padding-left: 50px;
  transition-duration: 300ms;
}

.modal-input::placeholder {
  color: rgba(119, 47, 214, 0.35);
}

.modal-input:focus {
  outline: transparent;
  border-color: #fd9222;

  /* & + .modal-field-icon {
    stroke: #fd9222;
  } */
}

.modal-input:focus + .modal-field-icon {
  stroke: #fd9222;
}

.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
  display: inline-block;
}

.modal-button:disabled {
  background-color: rgba(253, 146, 34, 0.5);
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(253, 146, 34, 0.5);
}

.modal-field-wrapper {
  position: relative;
}

.modal-field-icon {
  fill: transparent;
  stroke: #111;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.modal-textarea {
  height: 137px;
  resize: none;
  padding: 8px 16px;
}

.modal-check-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  position: relative;

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fd9222;
  }
}

.check-mark {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-label .check-mark {
  background-color: #fd9222;
  border-color: #fd9222;
  fill: #fff;
}

.modal-check:focus + .modal-check-label .check-mark {
  border-color: #fd9222;
}

/* .modal-check-label::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid rgb(222, 216, 216);
  border-radius: 100px;
  margin-right: 12px;
  transition-duration: 300ms;
}

.modal-check-label::after {
  content: '';
  width: 18px;
  height: 18px;
  background-color: rgb(188, 237, 180);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition-duration: 300ms;
}

.modal-check:checked + .modal-check-label::after {
  transform: translate(18px);
  background-color: #fff;
}

.modal-check:checked + .modal-check-label::before {
  background-color: rgb(188, 237, 180);
} */
