html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin-block: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* max-width: 1166px;
  width: 100%; */
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* padding-inline: 15px;
  margin-inline: auto; */
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;

  .accent {
    color: #fd9222;
  }
}

/*------------- header-------------- */

.header {
  padding-block: 28px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 100px;
}

/* .header-logo span {
  font-style: italic;
} */

.header .container {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-link:hover,
.header-link:focus {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 24px;
  margin-left: auto;
}

/* .header-link:is(:hover, :focus) {
  color: #fd9222;
}

/* .header-link:focus {
  color: #fd9222;
} */

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}

/* .header-soc-icon {
  fill: #111;
} */

/*------------- hero-------------- */

.hero {
  background-color: #1e1823;
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;

  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-wrapper {
  padding: 381px 40px 40px 40px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  min-width: 146px;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
}

.hero-button-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 183px;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

/*------------- features-------------- */

.features {
  background-color: #1e1823;
  padding-block: 50px;
}

.features-list {
  display: flex;
  gap: 70px;
  /* padding-left: 36px;
  padding-right: 36px; */
  padding-inline: 36px;
}

.features-item {
  width: calc((100% - 70px * 2) / 3);
  position: relative;
}

.features-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}

/* .features-item:last-child::after {
  display: none;
} */

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*------------- taste-------------- */

.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

/* .taste-highlight {
  color: #fd9222;
} */

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 40px 19px; */
  column-gap: 19px;
  row-gap: 40px;
}

.taste-item {
  padding: 28px 32px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: calc((100% - 19px * 3) / 4);
}

.taste-image {
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/*------------- made-------------- */

.made {
}

.made-title {
  margin-bottom: 50px;
}

.made-title::before {
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
  background-image: url(../img/love-img-2.png);
  background-size: cover;
}

.made-title::after {
  content: '!!!!';
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
}

.made-list {
}

.made-item {
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*------------- love-------------- */

.love {
}

.love-title {
}

.love-list {
}

.love-item {
}

.love-image {
}

.love-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.love-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.love-button {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/*------------- footer-------------- */

.footer {
  background-color: #1e1823;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #ffffff;

  .accent {
    color: #fd9222;
  }
}

.footer-contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-contacts-list {
}

.footer-contacts-item {
}

.footer-contacts-link {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
